.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__vpkii {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__vpkii > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__vpkii > :global(.__wab_flex-container) > *,
.freeBox__vpkii > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vpkii > :global(.__wab_flex-container) > picture > img,
.freeBox__vpkii
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vpkii {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vpkii > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vpkii > :global(.__wab_flex-container) > *,
  .freeBox__vpkii > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vpkii > :global(.__wab_flex-container) > picture > img,
  .freeBox__vpkii
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__neHVa {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__neHVa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__neHVa > :global(.__wab_flex-container) > *,
.freeBox__neHVa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__neHVa > :global(.__wab_flex-container) > picture > img,
.freeBox__neHVa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mkN9R {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__mkN9R > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mkN9R > :global(.__wab_flex-container) > *,
.freeBox__mkN9R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mkN9R > :global(.__wab_flex-container) > picture > img,
.freeBox__mkN9R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__emKnr {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__emKnr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__emKnr > :global(.__wab_flex-container) > *,
.freeBox__emKnr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__emKnr > :global(.__wab_flex-container) > picture > img,
.freeBox__emKnr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__wEbeZ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-F8mkzvVL7Qol_v);
  flex-shrink: 0;
}
.svg__yPv9M {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-F8mkzvVL7Qol_v);
  flex-shrink: 0;
}
.svg__u1CPm {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-F8mkzvVL7Qol_v);
  flex-shrink: 0;
}
.freeBox___6FiNx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___6FiNx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6FiNx > :global(.__wab_flex-container) > *,
.freeBox___6FiNx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6FiNx > :global(.__wab_flex-container) > picture > img,
.freeBox___6FiNx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fmDr5 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-F8mkzvVL7Qol_v);
  height: auto;
}
.button__bdmKm:global(.__wab_instance) {
  position: relative;
}
.svg__ub4DA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4DXp {
  height: auto;
}
.svg__hDk8K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__pwQXr:global(.__wab_instance) {
  position: relative;
}
.svg__rdBAn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mmVtw {
  height: auto;
}
.svg__vGarE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nZzRx:global(.__wab_instance) {
  position: relative;
}
.svg__mBlth {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__omFgF {
  height: auto;
}
.svg__p9Qwv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hb3N:global(.__wab_instance) {
  position: relative;
}
.svg__tOw85 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wOlw3 {
  height: auto;
}
.svg___122Eq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___9Xj41 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___9Xj41 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9Xj41 > :global(.__wab_flex-container) > *,
.freeBox___9Xj41 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Xj41 > :global(.__wab_flex-container) > picture > img,
.freeBox___9Xj41
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___9Ch8H {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-F8mkzvVL7Qol_v);
  height: auto;
}
.button__hqVpt:global(.__wab_instance) {
  position: relative;
}
.svg___1AaAz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___13Quq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__no4Sf:global(.__wab_instance) {
  position: relative;
}
.svg__aHTrN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__mm954 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__m764X:global(.__wab_instance) {
  position: relative;
}
.svg__luuG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zi7Ye {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__jh22C {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__jh22C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jh22C > :global(.__wab_flex-container) > *,
.freeBox__jh22C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jh22C > :global(.__wab_flex-container) > picture > img,
.freeBox__jh22C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ky9Gt {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-F8mkzvVL7Qol_v);
  height: auto;
}
.button__e8Mib:global(.__wab_instance) {
  position: relative;
}
.svg__hceyn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__soTY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oaRpD:global(.__wab_instance) {
  position: relative;
}
.svg__gJrA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5Gf3Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___63Lqx:global(.__wab_instance) {
  position: relative;
}
.svg__lX1N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tyfuS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tXbpb:global(.__wab_instance) {
  position: relative;
}
.svg__w3Lks {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yH719 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
